<h1>Home Page</h1>

{{!-- whatever we want our home page to look like goes outside here, to display ALL THE TIME --}}
{{#if loggedIn}}
    <h4>You're logged in!!</h4>
    {{!-- whatever we want to display here ONLY WHILE LOGGED IN would go inside the if statement --}}
{{/if}}