{{!-- <h1>Register</h1> --}}

<div class="container register mb-3">
<img src="img/logo.png" class="rounded logo" alt="wilbo logo" width="400" height="250">
    <div class="card">
        <div class="card-header text-center">Register with us
        <p class="header text-center">It’s free and only takes a puff</p>
        </div>
        {{!-- action is where you want to send all of these values --}}
        <form action="/api/register" method="POST">
            <div class="form-label">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>

            <div class="form-label">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>

            <div class="form-label">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>

            <div class="form-label">
                <label for="password">Confirm Password</label>
                <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" required>
            </div>
            <button type="submit" class="btn-submit btn-primary">Register</button>
        </form>
        <a href="/login">Login</a>
    </div>
    {{!-- message variable coming from apiUserRoutes error messages upon registering--}}
   {{#if message}} 
        <h4 class="alert alert-danger mt-4">{{message}}</h4>
   {{/if}}
</div>
 