/* body {
    background-color: lightsteelblue;
} */
/* home page img style */
.title {
  position: absolute;
  bottom: 300px;
  right: 40px;
}
.home-t {
  position: absolute;
  bottom: 200px;
  right: 45px;
  font-size: 20px;
}

/* register pg style */
.register{
  /* position: relative; */
  max-width: 500px;
  padding-top: 100px;
  padding-bottom: 200px;
  left: 200px;
}

.logo {
  position: relative;
  top: 300px;
  right: 500px;
  opacity: 0.5;
  padding-top: 200px;
}

.login {
  max-width: 500px;
  padding-top: 200px;
  padding-bottom: 200px;
  left: 200px;
}