/* nav bar style */
nav {  
  box-shadow: 5px 5px 10px rgb(149, 144, 144);
}

a {
  display: block;
  padding: 8px;
}

/* home page img style */
.title {
  position: absolute;
  bottom: 300px;
  right: 40px;
}
.home-t {
  position: absolute;
  bottom: 200px;
  right: 45px;
  font-size: 20px;
}

/* register pg style */
.register {
  max-width: 450px;
  padding-top: 50px;
  padding-bottom: 200px;
  left: 200px;
}

.logo {
  position: relative;
  top: 450px;
  right: 350px;
  opacity: 0.5;
  /* padding-top: 200px; */
}

/* login styling  */
.login {
  max-width: 500px;
  padding-top: 200px;
  padding-bottom: 200px;
  left: 200px;
}

/* create cards bottle style */
.bottle {
  /* top: 100px; */
  margin: 25%;
  flex: 0 1 300px;
  padding: 5px;
  width: 35%;
  min-height: 100%;
  min-width: 35%;
  box-shadow: 5px 5px 10px rgb(77, 75, 75);
  padding-top: 20px;
}

